
name: Build N1

on:
  push:
    branches:
      - master
  schedule:
    - cron: 0 23 * * *
  watch:
    types: started
    
jobs:
  run-it:
    runs-on: ubuntu-latest
    name: Build N1
    steps:
      - name: Package Armvirt as OpenWrt
        uses: unifreq/openwrt_packit@master
        env:
          OPENWRT_ARMVIRT: https://github.com/201821143044/Actions-N1-OpenWrt/releases/latest/download/openwrt-armvirt-64-default-rootfs.tar.gz
          PACKAGE_SOC: s905d
          KERNEL_VERSION_NAME: 5.14.14_5.4.155
          KERNEL_AUTO_LATEST: true

      - name: Upload OpenWrt Firmware to Release
        uses: ncipollo/release-action@v1
        with:
           tag: N1-Openwrt-img_编译_${{ env.PACKAGED_OUTPUTDATE }}
           artifacts: ${{ env.PACKAGED_OUTPUTPATH }}/*
           allowUpdates: true
           token: ${{ secrets.GITHUB_TOKEN }}
           body: |
             ## 以下为N1的最新固件（每日上午7时自动编译打包最新固件）
             默认IP：192.168.1.99 默认密码： password

      - name: Remove old Releases
        uses: dev-drprasad/delete-older-releases@v0.1.0
        with:
         keep_latest: 3
         delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
